<div *ngIf="workout" class="card mt-5 mx-auto" style="max-width: 600px;" (mouseenter)="hover = true"
    (mouseleave)="hover = false" style="cursor: pointer;">
    <div class="card-body">
        <div class="d-flex justify-content-end mb-2">
            <div class="dropdown" *ngIf="hover">
                <button class="btn btn-link dropdown-toggle no-caret" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" type="button" (click)="deleteWorkout()">Delete</button>
                </div>
            </div>
        </div>
        <h2 class="card-title text-center">{{ workout.template.name }}</h2>
        <h4 class="card-subtitle mb-3 text-center">{{ formattedDate }}</h4>

        <div class="d-flex justify-content-center align-items-center mb-3">
            <i class="bi bi-clock mr-2"></i>
            <span class="mr-4">{{ formattedTime }}</span>
            <i class="bi bi-brightness-high mr-2"></i>
            <span>{{ totalVolume }}</span>
        </div>

        <div *ngFor="let exercise of workout.completedExercises" class="text-center">
            <strong class="strong">{{ exercise.exercise.name }}</strong>
            <ul class="list-unstyled">
                <li *ngFor="let set of exercise.sets">
                    Reps: {{ set.reps }}, Weight: {{ set.weight }}
                </li>
            </ul>
        </div>
    </div>
</div>