<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/" class="navbar-brand">FitLog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/exercise" class="nav-link">Exercises</a>
            </li>
            <li class="nav-item">
                <a routerLink="/workout" class="nav-link">Workouts</a>
            </li>
            <li class="nav-item">
                <a routerLink="/workoutHistory" class="nav-link">Workout History</a>
            </li>
        </ul>
    </div>
</nav>