<div class="container">
    <div class="card mt-4 position-relative" (mouseenter)="hoverTrash = true" (mouseleave)="hoverTrash = false">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title">{{ workout.name }}</h5>
            <span *ngIf="hoverTrash" class="trash-can" (click)="deleteWorkout()" style="cursor: pointer;">
                <i class="bi bi-trash3" style="color: red;"></i>
            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div *ngFor="let exercise of workout.exercises" class="mb-4">
                        <h6>{{ exercise.exercise.name }}</h6>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let set of exercise.sets">
                                <span>Reps: {{ set.reps }}</span>
                                <span class="ml-3">Weight: {{ set.weight }}</span>
                                <span class="ml-3">Warmup: {{ set.warmup ? 'Yes' : 'No' }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>